<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="date=no">
<meta name="format-detection" content="address=no">
<!--[if (mso)|(mso 16)]>
<style type="text/css">
a {text-decoration:none !important; text-decoration:none;}
</style>
<![endif]-->
<style type="text/css">
.na-no-link-decoration {text-decoration:none !important; text-decoration:none;}
</style>
<style type="text/css">
  a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
  pointer-events:none !important;
  cursor: text !important;
}
</style>
<body>

  <table  cellspacing="0" cellpadding="0" border="0" width="338">
    <tbody>
        <tr>
            <td height="2" colspan="5"></td>
            <td width="17" style="width:29px;"></td>
            <td width="38" rowspan="2" style="vertical-align:top;">
                <a href="https://www.newangle.co.uk"><img width="38" height="50" src="https://cdn.newangle.co.uk/_static/Newangle_Signature_Award@38w.png" srcset="https://cdn.newangle.co.uk/_static/Newangle_Signature_Award@76w.png 2x, https://cdn.newangle.co.uk/_static/Newangle_Signature_Award@76w.png 3x" style="border: none;"></a>
            </td>
        </tr>
        <tr>
            <td width="108" style="vertical-align:top;">
                <a href="https://www.newangle.co.uk"><img width="108" height="35" src="https://cdn.newangle.co.uk/_static/Newangle_Signature_Logo@108w.png" srcset="https://cdn.newangle.co.uk/_static/Newangle_Signature_Logo@216w.png 2x, https://cdn.newangle.co.uk/_static/Newangle_Signature_Logo@216w.png 3x" style="border: none;"></a>
            </td>
            <td width="17" style="width:17px;"></td>
            <td width="1" style="width:1px;background:#c3d700;"></td>
            <td width="18" style="width:18px;"></td>
            <td width="139" style="width:139px;vertical-align:top; color:#575757; font-family:'Arial';">
                <span style="font-size:12px;line-height:14px;color:#575757;">
                    <b>__NAME__<br>__TITLE__</b>
                </span>
                <span style="font-size:7px;"><br><br></span>
                <a style="font-size:12px !important;line-height:14px !important;color:#575757 !important;text-decoration:none !important; text-decoration:none;pointer-events:none;cursor:text;white-space:nowrap;" x-apple-data-detectors="false" class="na-no-link-decoration">
                  <span style="font-size:12px;line-height:14px;color:#575757;">206&nbsp;Metropolitan&nbsp;Wharf
                    <br>
                    70&nbsp;Wapping&nbsp;Wall
                    <br>
                    London
                    <br>
                    E1W&nbsp;3SS</span>
                </a>
                <span style="font-size:7px;"><br><br></span>
                <span style="font-size:12px;line-height:14px;">
                    <a href="tel:+44(0)2079160106" style="text-decoration:none !important; text-decoration:none; color:#575757;" class="na-no-link-decoration">+44&nbsp;(0)20&nbsp;7916&nbsp;0106</a>
                    <br >
                    <a href="https://www.newangle.co.uk"  style="color:#c3d700; text-decoration:none !important; text-decoration:none;" class="na-no-link-decoration">www.newangle.co.uk</a>
                </span>
            </td> 
        </tr>
    </tbody>
  </table>
</body>